@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = null;
}

@* the fun starts here *@

<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    
	    <title>Render &mdash; 100% Free Fully Responsive HTML5 Template by FREEHTML5.co</title>
	    
    	<!-- Animate.css -->
    	<link rel="stylesheet" href="content/css/animate.css">
    	<!-- Icomoon Icon Fonts-->
    	<link rel="stylesheet" href="content/css/icomoon.css">
    	<!-- Bootstrap  -->
    	<link rel="stylesheet" href="content/css/bootstrap.css">
    	<!-- Superfish -->
    	<link rel="stylesheet" href="content/css/superfish.css">
    	
    	<!-- Stylesheet -->
    	<link rel="stylesheet" href="content/css/style.css">
    	
        <!-- Modernizr JS -->
	    <script src="js/modernizr-2.6.2.min.js"></script>
    </head>
    
    <body>
        @RenderBody;
    </body>
    
    <footer>
        @RenderFooter;
    </footer>